<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="homeCss/style.css">
    </head>
    <body>
        {{>navbar}}
        <section id="welcome">
            <div id="name">
                <h1 class="h1-primary">Welcome to Prwz Web Solutions</h1>
                <p> Lorem ipsum dolor sit amet consectetur elit. Atque eveniet
                    tempore blanditiis corporis ipsam illum et?
                </p>
                <p>laboriosam eos saepe asperiores dolorum.</p>
                <a href="#section3" class="btn">Read More</a>
            </div>
        </section>

        <section id="section2">
            <div id="about">
                <h1>Web & Application Development
                </h1>
                <div class="para">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quis voluptatibus repudiandae distinctio
                        quos optio eos, possimus debitis. Corporis, quis?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quis voluptatibus repudiandae distinctio
                        quos optio eos, possimus debitis. Corporis, quis?</p>
                </div>
            </div>
        </section>

        <section id="section3">
            <div id="work">
                <div class="box" id="box-1"><img src="./images/service1.jpg"
                        alt="Our
                        Services">
                    <h1>Web Development</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Numquam, culpa deleniti exercitationem ipsa
                        veritatis minus similique? Unde atque voluptatibus
                        consectetur voluptatum!</p>
                </div>
                <div class="box" id="box-2"><img src="./images/service2.jpg"
                        alt="Our
                        Services">
                    <h1>Mobile Applications</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Numquam, culpa deleniti exercitationem ipsa
                        veritatis minus similique?</p>
                </div>
                <div class="box" id="box-3"><img src="./images/service3.jpg"
                        alt="Our
                        Services">
                    <h1>Tech Marketing</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Numquam, culpa deleniti exercitationem ipsa
                        veritatis minus similique? Unde atque voluptatibus
                        consectetur voluptatum!</p>
                </div>
            </div>
            <!-- </section> -->

            <section id="section4">
                <div id="heading">
                    <h1>We handle all of your digital needs</h1>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Sequi voluptas quaerat deserunt iure doloribus,
                        natus eligendi fugiat et tempora fuga.</p>
                </div>
            </section>

            <section id="section5">
                <div class="card" id="card-1">
                    <h1>Contact Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illum porro nisi ipsum deleniti voluptas,
                        aspernatur alias expedita aliquam cupiditate beatae.</p>
                    <p>contact@prwzwebsolutions.test</p>
                </div>
                <div class="card" id="card-2">
                    <h1>About Our Company</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Distinctio earum porro deserunt, deleniti, quae
                        facere repudiandae, officiis est exercitationem nobis
                        iusto
                        doloremque! Soluta excepturi in aut suscipit
                        amet temporibus quo?</p>
                </div>
            </section>

            <section id="section6">
                <div class="info">
                    <h3>Prwz Web Solutions</h3>
                </div>
                <div class="info">
                    <h3>Project By Parwez</h3>
                </div>
            </section>
        </html>