<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Employee.register</title>
</head>
<body>
        {{>navbar}}
        <section id="formsection">
        <div id="form">
            <div class="formDiv">
                <div class="formdiv2">
                    <div class="buttons">
                        <div  class="divbtn divbtnLeft"><a onclick='return check()' id="divbtn" href="/registration">Register</a></div>
                        <div  class="divbtn divbtnRight"> <a onclick='return check()' id="divbtnlogin" href="/login">Login</a></div>
                    </div>
                    <h1>Employee Registration Form</h1>
                    <form action="/registration" method="POST">
                        <input class="input" type="text" name="firstname" placeholder="First Name *">
                        <input class="input" type="text" name="lastname" placeholder="Last Name *"> <br>
                        <input class="input" type="text" name="email" placeholder="Your Email *">
                        <input class="gender" type="radio" id="gendermale" name="gender" value="male">
                        <label for="male">Male</label>
                        <input type="radio" id="genderfemale" name="gender" value="female">
                        <label for="female">Female</label><br>
                        <input class="input" type="text" name="Phone" placeholder="Your Phone *">
                        <input class="input" type="text" name="Age" placeholder="Enter Your Age *"> <br>
                        <input class="input" type="password" name="password" placeholder="Password *">
                        <input class="input" type="password" name="confirmPassword" placeholder="Confirm Password *"> <br>
                        <input class="btn registerBtn" type="submit" value="Register"></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>