/* CSS Reseat */
* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  background: black;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  scroll-behavior: smooth;
}

/* welcome section */
#welcome {
  height: 350px;
  color: white;
}
#name a:hover {
  background-color: rgb(75, 56, 56);
}
#welcome::before {
  content: "";
  background: url("../images/bg1.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 450px;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
#welcome h1 {
  padding-top: 2em;
  padding-bottom: 0.5em;
}
#name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#name a {
  font-size: 1.3em;
  color: white;
  background-color: #686965;
  text-decoration: none;
  border: 2px solid #918f8f;
  border-radius: 1rem;
  padding: 0.8em 2.1em;
  margin-top: 2em;
}
#name p {
  font-family: "Bree Serif", serif;
  font-size: 1.1rem;
}

/* swction2 */
#section2 {
  height: 15em;
  background: #eaeaea;
  color: black;
  margin-top: 6em;
}
#about h1 {
  text-align: center;
  padding-top: 1em;
}
.para {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  padding: 10px 210px;
}
.para p {
  /* b/order: 2px solid red; */
  padding: 23px;
}
/* section3 */
#section3 {
  background-color: #333;
}
#work {
  /* width: 100%; */

  height: 32em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5em, 1fr));
  width: 50em;
  margin: auto;
}
.box {
  /* display: flex;
   justify-content: center; */
  color: black;
  background-color: white;
  /* border: 2px solid black; */
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
}
#box-1 img {
  width: 15.5em;
}
.box p {
  margin-top: 1em;
  font-size: 1.1em;
}
.box h1 {
  margin-top: 1em;
}
#box-2 img {
  width: 15.5em;
}
#box-3 img {
  width: 15.5em;
  height: 11em;
}

/* Section-4 */
#section4 {
  background-color: white;
  color: black;
  height: 15em;
}
#section4 p {
  /* border: 2px solid red; */
  padding: 2em 13em;
  font-size: 1.1em;
}
#section4 h1 {
  padding-top: 2em;
  font-size: 2em;
}

/* section5 */
#section5 {
  display: grid;
  /* grid-gap: 1em; */
  grid-template-columns: 1fr 1fr;
  height: 18em;
}

#card-1 {
  background-color: #2690d4;
}
#card-1 p {
  padding: 2em 2em;
}
#card-2 {
  background-color: #333;
}
#card-2 p {
  padding: 2em 2em;
}
.card h1 {
  padding-top: 2em;
  font-size: 1.5em;
}
/* Section5 */
.info h3 {
  /* border: 2px solid white; */
  margin-top: 2em;
}
#section6 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5em, 1fr));
  height: 5em;
}
.h1-primary {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
}
